---
import { Icon } from "astro-icon/components"

import { Button } from "../Button"
---

<div class="p-5 flex justify-center gap-5 flex-row items-center">
  <a
    href="https://chromewebstore.google.com/detail/startify/fjjipcmebaelmnkkbdjnhhjbgenecgbd">
    <Button
      client:load
      borderClassName="bg-[radial-gradient(#1aa260_40%,transparent_60%)]"
      borderRadius="1.75rem"
      className="bg-slate-900  text-white border-slate-800">
      <div class="flex flex-row justify-center items-center gap-3">
        <p>Add to Chrome</p>
        <Icon name="mdi:google-chrome" height="1.5rem" width="1.5rem" />
      </div>
    </Button>
  </a>

  <a
    href="https://addons.mozilla.org/pl/firefox/addon/startify_new_tab/?utm_source=startify_web">
    <Button
      client:load
      borderRadius="1.75rem"
      borderClassName="bg-[radial-gradient(#FF9500_40%,transparent_60%)]"
      className="bg-slate-900 text-white border-slate-800">
      <div class="flex flex-row justify-center items-center gap-3">
        <p>Add to Firefox</p>
        <Icon name="mdi:firefox" height="1.5rem" width="1.5rem" />
      </div>
    </Button>
  </a>
</div>
