---
import { MacbookScroll } from "../MacbookScroll";
import macScreen from "@/assets/macScreen.png";
---

<div class="overflow-hidden w-full border-b border-neutral-700">
  <MacbookScroll
    client:load
    title={"Your Start Page not need to be bored"}
    src={macScreen.src}
    showGradient={false}
  />
</div>
