---
import Layout from "../layouts/Layout.astro";
import MacScrollSection from "@/components/Sections/MacScrollSection.astro";
import CompareSection from "@/components/Sections/CompareSection.astro";
import FeaturesSection from "@/components/Sections/FeaturesSection.astro";
---

<Layout title="Startify">
  <main>
    <MacScrollSection />
    <CompareSection />
    <FeaturesSection />
  </main>
</Layout>
