---
import CompareSection from "@/components/Sections/CompareSection.astro"
import DownloadSection from "@/components/Sections/DownloadSection.astro"
import FeaturesSection from "@/components/Sections/FeaturesSection.astro"
import MacScrollSection from "@/components/Sections/MacScrollSection.astro"

import Layout from "../layouts/Layout.astro"
---

<Layout title="Startify">
  <main>
    <MacScrollSection />
    <CompareSection />
    <FeaturesSection />
    <DownloadSection />
  </main>
</Layout>
