---
import { Icon } from "astro-icon/components";
---

<hr />
<br />
<br />
<footer class="text-center text-white">
  <div class="flex justify-center gap-4">
    <a href="https://github.com/PawelGawlikDev" target="_blank">
      <Icon name="mdi:github" width="2rem" height="2rem" />
    </a>
    <a href="https://www.linkedin.com/in/paweł-gawlik-908846234/">
      <Icon name="mdi:linkedin" width="2rem" height="2rem" />
    </a>
  </div>
  <br />

  <p>{`Copyright ${new Date().getFullYear()} ©`}</p>
</footer>
