---
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"

interface Props {
  title: string
}

const { title } = Astro.props
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const headers = document.querySelectorAll("h1")

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("animate-fadeInUp")
            observer.unobserve(entry.target)
          }
        })
      },
      { threshold: 0.1 }
    )

    headers.forEach((header) => {
      observer.observe(header)
    })
  })
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="startify_web/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-900">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
