---
import { Content as Policy } from "../../privacy/privacy.md";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <article>
    <div class="h-full mx-auto text-white my-10 max-w-[750px] px-5">
      <Policy />
    </div>
  </article>
</Layout>
